.side-menus-container {
  height: 100%;
  width: 100%;
  padding: 20px 0;
  .content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    ul {
      margin : {
        left: 30px;
      }
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
    li {
      color: var(--color-main);
      font-size: 0.9em;
      margin-bottom: 20px;
      cursor: pointer;
      .iconfont {
        font-size: 1.1em;
      }
      &:hover::after {
        position: absolute;
        left: 135px;
        content: "→";
        color: var(--color-hover);
        animation: arrowLeftToRight 0.5s ease-in-out;
      }

      &:hover {
        span {
          color: var(--color-hover);
        }
        .iconfont {
          color: var(--color-hover);
        }
      }

      a {
        text-decoration: none;
        color: var(--color-main);
      }
      span {
        margin-left: 15px;
      }
    }
  }
}

@keyframes arrowLeftToRight {
  0% {
    left: 120px;
  }

  100% {
    left: 135px;
  }
}
