.loading-skeleton-container {
  width: 1228px;
  height: 615px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  .video-show-card-wrapper {
    margin : {
      bottom: 20px;
    }
    .placeholder {
      height: v-bind(height);
      width: v-bind(width);
      border-radius: v-bind(borderRadius);
      background-image: linear-gradient(
        to right,
        rgba(51, 51, 51, 0) 0,
        rgba(51, 51, 51, 0.8) 50%,
        rgba(51, 51, 51, 0) 100%
      );
      background-size: 200% 100%;
      box-shadow:
        0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
      animation: bgAnimate 1.2s linear infinite;
    }
    .img {
      width: 180px;
      height: 260px;
      border-radius: 10px;

      margin : {
        bottom: 10px;
      }
    }
    .title {
      width: 180px;
    }
  }
}

@keyframes bgAnimate {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: -150% 0;
  }
}
