@font-face {
  font-family: "iconfont"; /* Project id 4106328 */
  src:
    url("//at.alicdn.com/t/c/font_4106328_cy1xsvdb4l.woff2?t=1704984494650")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_4106328_cy1xsvdb4l.woff?t=1704984494650")
      format("woff"),
    url("//at.alicdn.com/t/c/font_4106328_cy1xsvdb4l.ttf?t=1704984494650")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gerenzhongxin1:before {
  content: "\e651";
}

.icon-left:before {
  content: "\e62d";
}

.icon-Right:before {
  content: "\e956";
}

.icon-angle-right:before {
  content: "\e607";
}

.icon-angle-left:before {
  content: "\e608";
}

.icon-search:before {
  content: "\e648";
}

.icon-hot:before {
  content: "\e758";
}

.icon-history:before {
  content: "\e65f";
}

.icon-history_line:before {
  content: "\e642";
}

.icon-fenxiang:before {
  content: "\e6a5";
}

.icon-paixu:before {
  content: "\e602";
}

.icon-baocuo-dianji:before {
  content: "\e603";
}

.icon-shezhi:before {
  content: "\e68f";
}

.icon-gerenzhongxin:before {
  content: "\e638";
}

.icon-shoucang:before {
  content: "\e641";
}

.icon-tuichu:before {
  content: "\e619";
}

.icon-empty:before {
  content: "\e621";
}

.icon-lishijilu_huaban:before {
  content: "\e618";
}

.icon-sousuo:before {
  content: "\e86e";
}

.icon-gengxin:before {
  content: "\e600";
}

.icon-paixing:before {
  content: "\e601";
}

.icon-dianshiju:before {
  content: "\e604";
}

.icon-zongyi:before {
  content: "\e615";
}

.icon-dongman:before {
  content: "\e61e";
}

.icon-liuyan:before {
  content: "\e744";
}

.icon-shouye:before {
  content: "\e6cb";
}

.icon-movie:before {
  content: "\e656";
}

.icon-APP:before {
  content: "\e655";
}

.icon-zhuanti:before {
  content: "\e617";
}

.icon-zhuizhuiju:before {
  content: "\ebdb";
}

.icon-netflix-line:before {
  content: "\e633";
}
