:root {
  // color
  --color-main: #ffffff;
  --color-hover: #fa17fa;
  --color-hot: #f40002;
  --border-color-seperate: #25252b;
  --bg-color-active: #16161a;
  --bg-info: #fff3cd;
  --bg-error: #F8D7DA;
  --bg-success: #d1e7dd;
}
