.search-container {
  width: 420px;
  height: 35px;
  position: relative;

  input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(232, 226, 226, 0.1);
    padding: 10px;
    border: none;
    color: var(--color-main);

    &::placeholder {
      color: rgba(245, 241, 241, 0.7);
    }

    &:focus {
      outline: none;
      border: solid 1px var(--color-hover);
      border-radius: 5px;
    }
  }

  .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &:hover {
      color: var(--color-hover);
    }
  }
}
