.binge-watch-container {
  width: 1200px;
  height: max-content;
  overflow: hidden;
  .title-wrapper {
    position: relative;
    margin : {
      bottom: 20px;
    }
    .title {
      margin: 0;
      font-size: 1.3em;
      color: var(--color-main);
    }
    .show-hidden-cards {
      color: var(--color-main);
      font-size: 0.9em;
      position: absolute;
      right: 50px;
      top: 1px;

      .iconfont {
        font-size: 0.7em;
        transform: translate(1px, -1px);
        cursor: pointer;
        color: #fff;

        &:hover {
          color: var(--color-hover);
        }
      }
    }
  }
  .video-show-card-wrapper {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease;

    div {
      margin-right: 30px;
    }
  }
}
