.home-page-swiper-container {
  position: relative;
  .swiper-wrapper {
    div {
      cursor: pointer;
    }
    .video-title {
      width: 300px;
      text-align: center;
      position: absolute;
      margin: 0;
      padding: 0;
      z-index: 20;
      top: 180px;
      left: 190px;
      color: var(--color-main);
      font-size: 1.6em;
      font-weight: 700;
    }
  }
  .swiper-small-wrapper {
    position: relative;
    display: inline-block;
    bottom: 130px;
    left: 150px;
    margin-right: 8px;
    width: 70px;
    height: 116px;
    z-index: 20;
    .img-wrapper {
      width: 100%;
      height: 85%;
      position: relative;
      border-radius: 10px;
      cursor: pointer;
      // 避免图像放大时超出其容器
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .video-info-wrapper {
      color: var(--color-main);
      font-size: 11px;
      margin-top: 5px;
      .title {
        word-break: keep-all;
        overflow: hidden;
        margin-bottom: 5px;
        // 文字超出使用省略号代替
        text-overflow: ellipsis;
      }
    }
  }
}

.active {
  border: solid 2px var(--color-hover);
}
